<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="style/all.css">
    <title>WEEK3 後台管理 BackStage</title>
</head>
<body>
    <h1>backstage</h1>
    <div id="app">
        <div class="container">
          <div class="text-end mt-4">
            <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#addProductModal">
                建立新產品
              </button>
          </div>
          <table class="table mt-4">
            <thead>
              <tr>
                <th width="120">
                  分類
                </th>
                <th>產品名稱</th>
                <th width="120">
                  原價
                </th>
                <th width="120">
                  售價
                </th>
                <th width="100">
                  是否啟用
                </th>
                <th width="120">
                  編輯
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(product,id) in products" :key=product.id>
                <td> {{ product.category}} </td> 
                <td> {{ product.title}}  </td>
                <td > NT${{ product.origin_price}} </td>
                <td > NT${{ product.price}} </td>
                <td>
                  <span v-if="product.is_enabled" class="text-success">啟用</span>
                  <span v-else>未啟用</span>
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editProductModal" @click="editProduct(product)">
                      編輯
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delProductModal">
                      刪除
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 新增 Modal start-->
        <div id="addProductModal" ref="addProductModal" class="modal fade " tabindex="-1" aria-labelledby="addProductModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content border-0">
              <div class="modal-header bg-dark text-white">
                <h5 id="addProductModalLabel" class="modal-title">
                  <span>新增產品</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="mb-2">
                      <div class="mb-3">
                        <label for="imageUrl" class="form-label">輸入圖片網址</label>
                        <input type="text" class="form-control"
                               placeholder="請輸入圖片連結">
                      </div>
                      <img class="img-fluid" src="" alt="">
                    </div>
                    <div>
                      <button class="btn btn-outline-primary btn-sm d-block w-100">
                        新增圖片
                      </button>
                    </div>
                    <div v-else>
                      <button class="btn btn-outline-danger btn-sm d-block w-100">
                        刪除圖片
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="mb-3">
                      <label for="title" class="form-label">標題</label>
                      <input id="title" type="text" class="form-control" placeholder="請輸入標題">
                    </div>
  
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="category" class="form-label">分類</label>
                        <input id="category" type="text" class="form-control"
                               placeholder="請輸入分類">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">單位</label>
                        <input id="unit" type="text" class="form-control" placeholder="請輸入單位">
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="origin_price" class="form-label">原價</label>
                        <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">售價</label>
                        <input id="price" type="number" min="0" class="form-control"
                               placeholder="請輸入售價">
                      </div>
                    </div>
                    <hr>
  
                    <div class="mb-3">
                      <label for="description" class="form-label">產品描述</label>
                      <textarea id="description" type="text" class="form-control"
                                placeholder="請輸入產品描述">
                      </textarea>
                    </div>
                    <div class="mb-3">
                      <label for="content" class="form-label">說明內容</label>
                      <textarea id="description" type="text" class="form-control"
                                placeholder="請輸入說明內容">
                      </textarea>
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input id="is_enabled" class="form-check-input" type="checkbox"
                               :true-value="1" :false-value="0">
                        <label class="form-check-label" for="is_enabled">是否啟用</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="button" class="btn btn-primary">
                  確認
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 新增 Modal end-->

        <!-- 編輯 Modal start-->
        <div id="editProductModal" ref="editProductModal" class="modal fade " tabindex="-1" aria-labelledby="editProductModalLabel"
             aria-hidden="true">
          <div class="modal-dialog modal-xl " >
            <div class="modal-content border-0">
              <div class="modal-header bg-dark text-white">
                <h5 id="editProductModalLabel" class="modal-title">
                  <span>編輯產品</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="mb-2">
                      <div class="mb-3">
                        <label for="imageUrl" class="form-label">輸入圖片網址</label>
                        <input type="text" class="form-control"
                               placeholder="請輸入圖片連結" >
                      </div>
                      <div>
                        <button class="btn btn-outline-primary btn-sm d-block w-100" @click="tempData.imagesUrl.push('')">
                          新增圖片
                        </button>
                      </div>
                      <p>主圖</p>
                      <img class="img-fluid" :src="tempData.imageUrl" alt="">
                    </div>
                    
                    <div>
                      <button class="btn btn-outline-danger btn-sm d-block w-100">
                        刪除圖片
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="mb-3">
                      <label for="title" class="form-label">標題</label>
                      <input id="title" type="text" class="form-control" placeholder="請輸入標題" v-model="tempData.title">
                    </div>
  
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="category" class="form-label">分類</label>
                        <input id="category" type="text" class="form-control"
                               placeholder="請輸入分類"  v-model="tempData.category">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">單位</label>
                        <input id="unit" type="text" class="form-control" placeholder="請輸入單位" v-model="tempData.unit">
                      </div>
                    </div>
  
                    <div class="row">
                      <div class="mb-3 col-md-6">
                        <label for="origin_price" class="form-label">原價</label>
                        <input id="origin_price" type="number" min="0" class="form-control" placeholder="請輸入原價" v-model="tempData.origin_price">
                      </div>
                      <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">售價</label>
                        <input id="price" type="number" min="0" class="form-control" placeholder="請輸入售價" v-model="tempData.price">
                      </div>
                    </div>
                    <hr>
  
                    <div class="mb-3">
                      <label for="description" class="form-label">產品描述</label>
                      <textarea id="description" type="text" class="form-control"
                                placeholder="請輸入產品描述" v-model="tempData.description">
                      </textarea>
                    </div>
                    <div class="mb-3">
                      <label for="content" class="form-label">說明內容</label>
                      <textarea id="description" type="text" class="form-control"
                                placeholder="請輸入說明內容" v-model="tempData.content">
                      </textarea>
                    </div>
                    <div class="mb-3">
                      <div class="form-check">
                        <input id="is_enabled" class="form-check-input" type="checkbox"
                        v-model="tempData.is_enabled" :true-value="1" :false-value="0" >
                        <label class="form-check-label" for="is_enabled">{{tempData.is_enabled ? '啟用' : '不啟用' }}</label>
                      </div>
                    </div>
                  </div>
                </div>
        
                <p>次要圖片</p>
                <div class="d-flex">
                      <div v-for=" (images,id) in tempData.imagesUrl" :key="id" >
                          <img class="img-fluid " :src="images" alt="">
                          <div v-else>
                            <button class="btn btn-outline-danger btn-sm d-block w-100">
                              刪除圖片
                            </button>
                          </div>
                      </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="button" class="btn btn-primary" @click="confirmEdit">
                  確認
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 編輯 Modal end-->

        <!-- 刪除 Modal start-->
        <div id="delProductModal" ref="delProductModal" class="modal fade " tabindex="-1"
             aria-labelledby="delProductModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content border-0">
              <div class="modal-header bg-danger text-white">
                <h5 id="delProductModalLabel" class="modal-title">
                  <span>刪除產品</span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                是否刪除
                <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="button" class="btn btn-danger">
                  確認刪除
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- 刪除 Modal end-->
      </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/backStage.js"></script>
</body>
</html>